プロジェクト名: Book Shelf

<概要>
書籍の登録・管理ができるアプリケーション。ユーザーは書籍のタイトル、著者、出版社、ISBNコード、感想などを登録できる。
登録された書籍は一覧表示され、ユーザーは自分の本棚として利用できる。
また、ChatGPTを利用した自動要約機能や、Google Books APIを利用した全文検索機能、書籍情報の取得機能を実装し、書籍の検索・閲覧をサポートする。

<技術選定>

フロントエンド: TypeScript
フレームワーク: React, ,Next.js, Bootstrap
バックエンド: Node.js, TypeScript
データベース: MongoDB
CI/CD: GitHub Actions
デプロイ: AWS EC2
コンテナ: Docker

<外部API使用>
ChatGPT:
レビューに対してChatGPTを利用して自動で要約を生成する
レビューの内容に基づいてChatGPTを利用して関連する本を推薦する
Google Books API:
全文検索
書籍情報の取得


<注意点>
本アプリケーションで利用する外部APIの利用規約に従い、適切な利用を行う
開発、テスト、本番環境でのDockerの利用を想定し、適切な設定を行う
データの永続化を考慮し、適切なバックアップ・リストアの方法を検討する
セキュリティに配慮し、適切なアクセス制御、認証・認可を実装する


<タスクの洗い出しと期限>
1. Bootstrapの学習
  期限: 2月28日
2. Node.jsの学習 
  期限: 3月1日
  目標: Node.jsでプロジェクト 「Book Shelf」 を作成
3. Reactの学習
4. TypeScriptの学習 (期限: 3月)
4. Dockerの学習
5. AWSの学習
6. API取得の学習

